/*

0px - 600px         Phone
600px - 900px       Tablet portrait
900px - 1200px      Tablet landscape
[1200px - 1800px]   here our normal styles apply
1800px +            Big desktop

1. Base, Typography
2. General layout. Grid
3. Page layout
4. Components

1em = 16px

Mobile S    320px
Mobile M    375px
Mobile L    425px
Tablet      768px
Laptop      1024px
Laptop L    1440px
4K          2560px

*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  80% {
    transform: translateY(-0.1rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes cutFromBottom {
  0% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }
  80% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 74.5vh); }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75vh); } }

@keyframes cutFromBottom-phone-l {
  0% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }
  80% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 84.5vh); }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85vh); } }

@keyframes logoRotate {
  0% {
    opacity: 0;
    transform: rotate(-180deg); }
  100% {
    opacity: 1; } }

@keyframes icon-hover {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.25); }
  100% {
    transform: scale(1); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 48em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 90em) {
    html {
      font-size: 50%; } }
  @media (max-width: 20em) {
    html {
      font-size: 43%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 3rem; }
  @media (max-width: 48em) {
    body {
      padding: 0; } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #697375; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 2.5rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
    @media (max-width: 90em) {
      .heading-primary--main {
        letter-spacing: 1.2rem;
        font-size: 5.5rem; } }
    @media (max-width: 64em) {
      .heading-primary--main {
        letter-spacing: 1.2rem;
        font-size: 5rem; } }
    @media (max-width: 48em) {
      .heading-primary--main {
        letter-spacing: 1.2rem;
        font-size: 5rem; } }
    @media (max-width: 27em) {
      .heading-primary--main {
        letter-spacing: 1.2rem;
        font-size: 4.5rem; } }
    @media (max-width: 20em) {
      .heading-primary--main {
        letter-spacing: .5rem;
        font-size: 4.4rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-out; }
    @media (max-width: 64em) {
      .heading-primary--sub {
        letter-spacing: 1rem; } }
    @media (max-width: 27em) {
      .heading-primary--sub {
        letter-spacing: .3rem; } }
    @media (max-width: 20em) {
      .heading-primary--sub {
        letter-spacing: .3rem;
        font-size: 1.5rem; } }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #43c4bf, #349995);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s; }
  @media (max-width: 48em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media (max-width: 27em) {
    .heading-secondary {
      font-size: 2.6rem;
      max-width: 65% !important; } }
  @media (max-width: 23.5em) {
    .heading-secondary {
      font-size: 2.6rem;
      max-width: 70% !important; } }
  @media (max-width: 20em) {
    .heading-secondary {
      font-size: 2.7rem;
      max-width: 75% !important; } }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }
  @media (max-width: 48em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem; } }

.u-margin-bottom-big {
  margin-bottom: 8rem; }
  @media (max-width: 48em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem; } }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  margin-right: 1rem;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #697375;
  padding: 1.5rem 4rem; }
  .btn--white::after {
    background-color: #fff; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--animated {
  animation: moveInBottom .5s ease-in-out .75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #349995;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #349995;
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  background-color: #349995;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .15;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 20px; }
    @media (max-width: 56.25em) {
      .composition__photo {
        float: left;
        position: relative;
        width: 33.3%;
        box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2); } }
    .composition__photo--p1 {
      left: 0;
      top: 0; }
      @media (max-width: 64em) {
        .composition__photo--p1 {
          top: 5rem;
          left: 8rem;
          transform: scale(2); } }
      @media (max-width: 48em) {
        .composition__photo--p1 {
          top: 0;
          left: 5%;
          transform: scale(1.2); } }
      @media (max-width: 27em) {
        .composition__photo--p1 {
          top: 5rem;
          left: 3%;
          transform: scale(1.2); } }
    .composition__photo--p2 {
      right: 0;
      top: 6rem; }
      @media (max-width: 64em) {
        .composition__photo--p2 {
          top: 35rem;
          left: 8rem;
          transform: scale(2); } }
      @media (max-width: 48em) {
        .composition__photo--p2 {
          top: 0;
          left: 27%;
          transform: scale(1.2);
          z-index: 100; } }
      @media (max-width: 27em) {
        .composition__photo--p2 {
          top: 5rem;
          transform: scale(1.2); } }
    .composition__photo--p3 {
      left: 20%;
      top: 14rem; }
      @media (max-width: 64em) {
        .composition__photo--p3 {
          top: 16rem;
          left: 15rem;
          transform: scale(2); } }
      @media (max-width: 48em) {
        .composition__photo--p3 {
          top: 0;
          left: -24rem;
          transform: scale(1.3);
          z-index: 101; } }
      @media (max-width: 27em) {
        .composition__photo--p3 {
          top: 0;
          left: -35%;
          transform: scale(1.5); } }
    .composition__photo:hover {
      outline: 0.5rem solid #43c4bf;
      transform: scale(1.05);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.9); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
  @media (max-width: 48em) {
    .feature-box {
      padding: 2rem; } }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    display: inline-block;
    background-image: linear-gradient(to right, #43c4bf, #349995);
    -webkit-background-clip: text;
    color: transparent; }
    @media (max-width: 56.25em) {
      .feature-box__icon {
        margin-bottom: 0; } }
  .feature-box:hover > .feature-box__icon {
    animation: .5s icon-hover; }

.features-list {
  list-style: none; }

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  transform: skewX(-12deg); }
  @media (max-width: 48em) {
    .story {
      width: 95%;
      padding: 4rem;
      padding-left: 7rem; } }
  @media (max-width: 27em) {
    .story {
      transform: skewX(0); } }
  .story__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    position: relative;
    overflow: hidden; }
    @media (max-width: 27em) {
      .story__shape {
        transform: translate(-3rem) skewX(0); } }
  .story__img {
    height: 100%;
    transform: scale(1.35);
    transition: all .5s; }
  .story__text {
    transform: skewX(12deg); }
    @media (max-width: 27em) {
      .story__text {
        transform: skewX(0); } }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: #fff;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story__img {
    transform: scale(1.1);
    filter: blur(3px) brightness(80%); }

.footer {
  background-color: #505050;
  padding: 10rem 0;
  font-size: 1.4rem;
  color: #f7f7f7; }
  @media (max-width: 48em) {
    .footer {
      padding: 8rem 0; } }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 8rem; }
    @media (max-width: 48em) {
      .footer__logo-box {
        margin-bottom: 6rem; } }
  .footer__logo {
    width: 22rem;
    height: auto; }
  .footer__navigation {
    border-top: 1px solid #349995;
    padding-top: 2rem;
    display: inline-block; }
    @media (max-width: 64em) {
      .footer__navigation {
        width: 100%;
        text-align: center; } }
    @media (max-width: 48em) {
      .footer__navigation {
        width: 100%;
        text-align: center; } }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
      @media (max-width: 23.5em) {
        .footer__item:not(:last-child) {
          margin-right: 1rem; } }
  .footer__link:link, .footer__link:visited {
    color: #f7f7f7;
    background-color: #505050;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all .2s; }
  .footer__link:hover, .footer__link:active {
    color: #349995;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: rotate(5deg) scale(1.3); }
  .footer__info {
    border-top: 1px solid #349995;
    padding-top: 2rem;
    width: 80%;
    float: right; }
    @media (max-width: 64em) {
      .footer__info {
        width: 100%;
        text-align: center; } }
    @media (max-width: 48em) {
      .footer__info {
        width: 100%;
        text-align: center;
        float: none; } }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 48em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media (max-width: 64em) {
    .row {
      max-width: 80rem;
      padding: 0 3rem; } }
  @media (max-width: 48em) {
    .row {
      max-width: 80rem;
      padding: 0 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 64em) {
        .row [class^="col-"]:not(:last-child) {
          margin-bottom: 6rem; } }
      @media (max-width: 48em) {
        .row [class^="col-"]:not(:last-child) {
          margin-bottom: 6rem; } }
    @media (max-width: 64em) {
      .row [class^="col-"] {
        width: 40% !important; } }
    @media (max-width: 48em) {
      .row [class^="col-"] {
        width: 100% !important; } }
    @media (max-width: 20em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(67, 196, 191, 0.8), rgba(52, 153, 149, 0.8)), url(../img/main-photo.jpg);
  background-position: top;
  position: relative;
  animation: cutFromBottom 1.2s alternate 1.2s ease-in-out;
  animation-fill-mode: backwards;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75vh);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75vh);
  z-index: 20; }
  @media (max-width: 27em) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85vh);
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85vh);
      animation: cutFromBottom-phone-l 1.2s alternate 1.2s ease-in-out;
      animation-fill-mode: backwards; } }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 5rem;
    animation: logoRotate 1.3s ease-in-out; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.navigation {
  width: 20%;
  position: fixed;
  float: left;
  transform: translateY(-3rem);
  z-index: 20; }
  .navigation__logo {
    position: relative;
    top: 3.8rem;
    left: 4rem;
    height: 5rem;
    z-index: 1; }
    @media (max-width: 48em) {
      .navigation__logo {
        top: 6.3rem; } }
  @media (max-width: 27em) {
    .navigation {
      opacity: 0; } }

.logo-white {
  position: relative;
  top: 3.8rem;
  left: 4rem;
  height: 5rem;
  transform: translateX(-16rem);
  z-index: 2; }
  @media (max-width: 64em) {
    .logo-white {
      transform: translateX(0);
      top: -1.8rem; } }
  @media (max-width: 48em) {
    .logo-white {
      transform: translateX(-5.2rem);
      top: 6.2rem; } }
  @media (max-width: 27em) {
    .logo-white {
      opacity: 0; } }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0 35rem 0;
  margin-top: -20vh; }
  @media (max-width: 56.25em) {
    .section-about {
      padding: 20rem 0 30rem 0; } }

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(67, 196, 191, 0.8), rgba(52, 153, 149, 0.8)), url(../img/features-photo.jpg);
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -10rem;
  z-index: 22; }
  .section-features > * {
    transform: skewY(7deg); }
  @media (max-width: 48em) {
    .section-features {
      padding: 10rem; } }

.section-stories {
  position: relative;
  margin-top: -10rem;
  padding: 25rem 5px 15rem 5rem; }
  @media (max-width: 48em) {
    .section-stories {
      padding: 20rem 0 10rem 0; } }
