$color-primary: #349995;
$color-primary-light: #43c4bf;
$color-primary-dark: #697375;

$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;

$color-gray-dark-1: rgb(80, 80, 80);

$color-white: #fff;
$color-black: #000;

$default-font-size: 1.6rem;

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;