.footer {
    background-color: $color-gray-dark-1;
    padding: 10rem 0;
    font-size: 1.4rem;
    color: $color-gray-light-1;

    @include respond (tab) {
        padding: 8rem 0;
    }

    &__logo-box {
        text-align: center;
        margin-bottom: 8rem;

        @include respond (tab) {
            margin-bottom: 6rem;
        }
    }

    &__logo {
        width: 22rem;
        height: auto;
    }

    &__navigation {
        border-top: 1px solid $color-primary;
        padding-top: 2rem;
        display: inline-block;

        @include respond (laptop) {
            width: 100%;
            text-align: center;
        }

        @include respond (tab) {
            width: 100%;
            text-align: center;
        }
    }

    &__list {
        list-style: none;
    }

    &__item {
        display: inline-block;

        &:not(:last-child) {
            margin-right: 1.5rem;

            @include respond (phone-m) {
                margin-right: 1rem
            }
        }
    }

    &__link {
        &:link,
        &:visited {
            color: $color-gray-light-1;
            background-color: $color-gray-dark-1;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
            transition: all .2s;
        }

        &:hover,
        &:active {
            color: $color-primary;
            box-shadow: 0 1rem 2rem rgba($color-black, .4);
            transform: rotate(5deg) scale(1.3);
        }
    }

    &__info {
        border-top: 1px solid $color-primary;
        padding-top: 2rem;
        //display: inline-block;
        width: 80%;
        float: right;

        @include respond (laptop) {
            width: 100%;
            text-align: center;
        }

        @include respond (tab) {
            width: 100%;
            text-align: center;
            float: none;
        }
    }
}