.header {
    height: 95vh;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.8),
        rgba($color-primary, 0.8)),
        url(../img/main-photo.jpg);
    background-position: top;
    position: relative;
    animation: cutFromBottom 1.2s alternate 1.2s ease-in-out;
    animation-fill-mode: backwards;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75vh);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75vh);

    @include respond (phone-l) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85vh);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85vh);
        animation: cutFromBottom-phone-l 1.2s alternate 1.2s ease-in-out;
        animation-fill-mode: backwards;
    }

    z-index: 20;

    &__logo-box{
        position: absolute;
        top: 4rem;
        left: 4rem;
    }

    &__logo {
        height: 5rem;
        animation: logoRotate 1.3s ease-in-out;
    }

    &__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}